In [2]:
import pandas as pd

#  Initial Read

In [3]:
df = pd.read_csv("./ebbu2017.csv")

In [4]:
df.head()

                                                 url  label
0  http://www.conceptdraw.com/How-To-Guide/Local-...      0
1   https://www.edrawsoft.com/Local-Area-Network.php      0
2  http://www.webopedia.com/TERM/L/local_area_net...      0
3      https://www.acsac.org/secshelf/book001/16.pdf      0
4        http://www.diffen.com/difference/LAN_vs_WAN      0

In [5]:
def initial_read(df):
    print('SHAPE')
    print(df.shape)
    print('=====')
    print('DTYPES')
    print(df.dtypes)
    print('=====')
    print('NULL VALUES')
    print(df.isnull().sum())
    print('=====')
initial_read(df)

SHAPE
(73575, 2)
=====
DTYPES
url      object
label     int64
dtype: object
=====
NULL VALUES
url      0
label    0
dtype: int64
=====

# Cleaning

In [6]:
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

url      0
label    0
dtype: int64

In [8]:
# label_mapping = {True: 1, False: 0}
# df['label'] = df['is_spam'].map(label_mapping)
df['label'] = df['label'].astype(int)  # for data1

In [9]:
df.dtypes

url      object
label     int32
dtype: object

In [14]:
df.drop_duplicates()

                                                     url  label
0      http://www.conceptdraw.com/How-To-Guide/Local-...      0
1       https://www.edrawsoft.com/Local-Area-Network.php      0
2      http://www.webopedia.com/TERM/L/local_area_net...      0
3          https://www.acsac.org/secshelf/book001/16.pdf      0
4            http://www.diffen.com/difference/LAN_vs_WAN      0
...                                                  ...    ...
73569                   http://www.grupolyl.com/slap/GD/      1
73571       http://bcgroup-sa.com/nilalalaa/GD/index.php      1
73572  http://mainepta.org/eme/gm/excel/excel/excel.p...      1
73573  http://support.escola-olivera.org/GOOGLENEWW/G...      1
73574  http://support.escola-olivera.org/GOOGLENEWW/G...      1

[54763 rows x 2 columns]

In [13]:
df.tail()

                                                     url  label
73570                   http://www.grupolyl.com/slap/GD/      1
73571       http://bcgroup-sa.com/nilalalaa/GD/index.php      1
73572  http://mainepta.org/eme/gm/excel/excel/excel.p...      1
73573  http://support.escola-olivera.org/GOOGLENEWW/G...      1
73574  http://support.escola-olivera.org/GOOGLENEWW/G...      1

In [16]:
df.to_csv('./balanced_urls_clean.csv')