In [5]:
import pandas as pd

#  Initial Read

In [6]:
df = pd.read_csv("./Data/balanced_urls.csv")

In [7]:
df.head()

                         url  result  label
0     https://www.google.com  benign      0
1    https://www.youtube.com  benign      0
2   https://www.facebook.com  benign      0
3      https://www.baidu.com  benign      0
4  https://www.wikipedia.org  benign      0

In [8]:
def initial_read(df):
    print('SHAPE')
    print(df.shape)
    print('=====')
    print('DTYPES')
    print(df.dtypes)
    print('=====')
    print('NULL VALUES')
    print(df.isnull().sum())
    print('=====')
initial_read(df)

SHAPE
(632508, 3)
=====
DTYPES
url       object
result    object
label      int64
dtype: object
=====
NULL VALUES
url       0
result    0
label     0
dtype: int64
=====

# Cleaning

In [9]:
df.dropna(inplace=True)

In [10]:
df.isnull().sum()

url       0
result    0
label     0
dtype: int64

In [11]:
# label_mapping = {True: 1, False: 0}
# df['label'] = df['is_spam'].map(label_mapping)
df['label'] = df['label'].astype(int)  # for data1

In [12]:
df.dtypes

url       object
result    object
label      int32
dtype: object

In [13]:
df[df.duplicated()]

Empty DataFrame
Columns: [url, result, label]
Index: []

In [159]:
df.to_csv('./Data/balanced_urls_clean.csv')